{% extends "users/base.html" %}
{% block content %}
<section class="textContent">
    <article>
        <h1>User Crud</h1>
        <p>This project was completed as part of the coding challenge for the <a href="https://www.codefellows.org/development-accelerators/">Code Fellows Python Development Accelerator</a> in order to show a basic familiarity with Django development.</p>
        <p>Deployed on Heroku, the  app allows visitors to create, read, update, and destroy users stored in a Postgres database. </p>
    </article>
</section>
{% endblock %}
