<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <title>User App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />
  <link href='https://fonts.googleapis.com/css?family=Bangers|Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}">
</head>
<body>
  <div class="wrapper">
    <header class="navbar clearfix">
      <div class="navbar-header clearfix">
        <a href="/" class="logo">User Crud</a>
        <button id="navbar-toggle" class="navbar-toggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <nav class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="https://github.com/jonathanstallings" target="_blank">Source</a></li>
        </ul>
      </nav>
    </header>
    <main class="clearfix">
      {% block content %}
      {% endblock %}
    </main>
    <footer>
      <p>Created by Jonathan Stallings.<br />Available under the <a href="https://github.com/jonathanstallings/getSorted/blob/master/LICENSE" target="_blank">MIT license.</a></p>
    </footer>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="{% static 'users/js/app.js' %}"></script>
</body>
</html>
