{% extends "users/base.html" %}
{% block content %}
<section id="user-detail">
    <h3>User Detail</h3>
    <form action="{% url 'users:edit' user.id %}" method="post">
    {% csrf_token %}
    <ul>
        <li>
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" id="first_name" value="{{ user.first_name }}" size="30" maxlength="60" required />
        </li>
        <li>
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" id="last_name"value="{{ user.last_name }}" size="30" maxlength="60" required />
        </li>
        <li>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" value="{{ user.email }}" size="30" maxlength="254" required />
        </li>
        <li>
            <div>
                <label for="notes">Notes</label>
                <textarea name="notes" id="notes" cols="60" rows="8">{{ user.notes }}</textarea>
            </div>
        </li>
        <li>
            <div id="form-buttons">
                <input type="submit" id="save-button" class="button" value="Save">
                <a class="button" href="/">Cancel</a>
            </div>
        </li>
    </ul>
    </form>
</section>
{% endblock %}
