{% extends "users/base.html" %}
{% block content %}
<a href="{% url 'users:add' %}" class="button">Add User</a>
<section id="current-users">
    <h3>Current Users</h3>
    <ul>
    {% if user_list %}
        {% for user in user_list %}
        <li>
            <a href="{% url 'users:detail' user.id %}">{{ user.name_abbrev }}</a>
            <a href="{% url 'users:delete' user.id %}" class="button">Delete</a>
        </li>
        {% endfor %}
    {% else %}
        <li>No Users Found!</li>
    {% endif %}
    </ul>
</section>
{% endblock %}
