{% extends "users/base.html" %}
{% block content %}
<section id="add-users">
    <h3>Add Users</h3>
    <ul>
        <li>
            <a href="{% url 'add' %}" class="user-link">New User</a>
        </li>
    </ul>
</section>
<section id="current-users">
    <h3>Current Users</h3>
    <ul>
    {% if user_list %}
        {% for user in user_list %}
        <li  data-id="{{ user.id }}">
            <a href="{% url 'detail' user.id %}" class="user-link">{{ user.name_abbrev }}</a>
            <a href="{% url 'delete' user.id %}" class="delete">Delete</a>
        </li>
        {% endfor %}
    {% else %}
        <li>No Users Found!</li>
    {% endif %}
    </ul>
</section>
{% endblock %}
